@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right"></span> *@
                            <h5 class="card-title mb-0 text-white">Toplam Blog Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.BlogCount
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right">Per Week</span> *@
                            <h5 class="card-title mb-0 text-white">Toplam Lokasyon</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.LocationCount
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right">Per Month</span> *@
                            <h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.CarCount
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-secondary border-secondary">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right"></span> *@
                            <h5 class="card-title mb-0 text-white">Toplam Yazar Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.AuthorCount
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-danger border-danger">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right"></span> *@
                            <h5 class="card-title mb-0 text-white">100.000'den Az Km Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.CarCountByKmSmallerThan1000
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right"></span> *@
                            <h5 class="card-title mb-0 text-white">Elektrikli Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.CarCountByFuelElectric
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-dark border-dark">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right"></span> *@
                            <h5 class="card-title mb-0 text-white">Benzin ve Dizel Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.CarCountByFuelGasolineOrDiesel
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right"></span> *@
                            <h5 class="card-title mb-0 text-white">Otomatik Vitesli Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.CarCountByTransmissionIsAuto
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-secondary border-secondary">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right"></span> *@
                            <h5 class="card-title mb-0 text-white">En Fazla Yorum Alan Blog</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.BlogTitle
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right"></span> *@
                            <h5 class="card-title mb-0 text-white">Günlük Ortalama Araç Kiralama</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    ₺@ViewBag.DailyAmount
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-danger border-danger">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right"></span> *@
                            <h5 class="card-title mb-0 text-white">Haftalık Ortalama Araç Kiralama</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    ₺@ViewBag.WeeklyAmount
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right"></span> *@
                            <h5 class="card-title mb-0 text-white">Aylık Ortalama Araç Kiralama</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    ₺@ViewBag.MontlyAmount
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right"></span> *@
                            <h5 class="card-title mb-0 text-white">En Ucuz Araç</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    ₺@ViewBag.RentPriceDailyMin
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card bg-dark border-dark">
                    <div class="card-body">
                        <div class="mb-4">
                            @* <span class="badge badge-soft-light float-right"></span> *@
                            <h5 class="card-title mb-0 text-white">En Pahalı Araç</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    ₺@ViewBag.RentPriceDailyMax
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
